:root {
  --mainColor: #1e81b0; /* color: var(--mainColor) */
  --secondColor: #063970;
  --complimentaryColor: #eeeee4;
}

body {
  background-color: var(--mainColor);
  background-image: linear-gradient(white -10%, var(--mainColor) 150px, var(--secondColor) 90%);
  color: white;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

h1 {
  color: whitesmoke;
  margin-top: 50px;
}

h2 {
  color: white;
  margin-top: 50px;
  font-size: 25px
}

.img-preset {
  width: 250px;
  height: 350px;
  max-width: 50%;
  border-radius: 5px;
  object-fit: cover;
}

p {
  color: whitesmoke;
  max-width: 45%;
  margin: auto;
  font-size: larger;
  font-weight: bold;
}

/* Button Hover Animation (Menu) */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--mainColor);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--secondColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Custom Buttons */
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #9b9b9b;
}

.button:hover {
  background-color: gray;
  color: white;
}

/* Header Menu */
.menu {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: flex-end; /* Align items to the right */
  list-style-type: none;
  margin: 0;
  height: 50px;
  overflow: hidden;
  background-color: #555;
  border-radius: 40px;
}

.menu li {
  display: inline-block; /* Display li elements horizontally */
}

.menu li a {
  display: inline-block;
  color: white;
  font-size: larger;
  text-align: center;
  margin: 0px;
  padding: 13px 16px;
  text-decoration: none;
}

.menu li img {
  display: inline-block;
  color: white;
  font-size: larger;
  text-align: center;
  margin: 0px;
  padding: 13px 16px;
  text-decoration: none;
  width:140px;
  height:140px; 
  border-radius:100px;
  object-fit: fill;
}

.menu li a:hover {
  background-color: rgb(52, 52, 52);
}
